.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 70vw;
  margin: auto;
  height: 100vh;
  font-family: Ubuntu;
  flex-direction: column;
  color: #0d0d0d;
}

.biography__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.biography {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.biography p:first-child {
  font-size: 28px;
}
.biography p {
  min-width: 430px;
  max-width: 430px;
  font-size: 20px;
}
.biography p:last-child {
  color: #404040;
}

.photo {
  width: 290px;
  height: 320px;
  overflow: hidden;
}

.photo img {
  object-fit: cover;
  border-radius: 18px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
  align-items: center;
}

.icons {
  width: 100%;
  display: flex;
  gap: 30px;
}

.icons a svg {
  font-size: 23px;
}

.email {
  font-weight: 100;
  font-size: 13px;
}

@media screen and (max-width: 883px) {
  .container {
    width: 95%;
  }

  .biography__container {
    flex-direction: column;
    text-align: center;
  }

  .biography p:last-child {
    height: 150px;
    text-align: left;
  }

  .photo {
    width: 95%;
  }
}

@media screen and (max-width: 437px) {
  .social-media {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .icons {
    justify-content: center;
  }
  .biography p:first-child {
    width: 100%;
  }
  .biography p {
    max-width: 290px !important;
    min-width: 290px !important;
    font-size: medium;
  }
  .biography p:last-child {
    height: 160px;
    text-align: left;
  }
}
