.container {
  display: flex;
  align-items: center;
  width: 70vw;
  margin: auto;
  height: 100vh;
  font-family: Ubuntu;
}

.biography__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.biography {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.biography p:first-child {
  font-size: 28px;
}
.biography p {
  min-width: 430px;
  max-width: 430px;
  font-size: 20px;
}

.biography p::before {
  content: " ";
}

.photo {
  width: 280px;
  height: 280px;
  overflow: hidden;
}

.photo img {
  object-fit: cover;
  border-radius: 18px;
}
