.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70vw;
  margin: auto;
  font-family: Ubuntu;
  flex-direction: column;
  font-family: Josefin Sans;
  margin-bottom: 20px;
}

.title {
  font-size: 2.7rem;
}

.ability {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  flex-wrap: wrap;
  margin-bottom: 130px;
}

.skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 50px;
  padding-bottom: 20px;
}

@media screen and (max-width: 878px) {
  .container {
    justify-content: center;
  }
  .title {
    text-align: center;
    margin: 0 auto;
  }
  .ability {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
