.card__container {
  width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__container svg {
  font-size: 2.7rem;
}

.card__container p {
  color: #242424;
  text-align: justify;
  font-size: 17px;
  font-family: Abel;
}
