.container {
  width: 70vw;
  margin: auto;
  font-family: Ubuntu;
  margin-top: 120px;
  font-family: Josefin Sans;
  margin-bottom: 20px;
}
.title {
  margin: auto;
  font-size: 2.7rem;
  position: relative;
  left: 0;
  margin-left: 0;
}
.projectContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projectPhotosSwiper {
  height: 220px;
}

.projectHolder {
  text-align: justify;
  margin: 30px 0;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projectHolder h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-decoration: underline;
}
.projectHolder p {
  color: #2e2e2e;
}

.tools {
  display: flex;
  gap: 5px 20px;
  flex-wrap: wrap;
}

.projectHolder span {
  font-size: 1rem;
}
.projectHolder span::before {
  content: "•";
}

@media screen and (max-width: 1091px) {
  .projectContainer {
    flex-direction: column;
  }
  .projectHolder {
    width: 100%;
  }
}
