@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:wght@600&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper {
  width: 100%;
  height: 100%;
}
