.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70vw;
  margin: auto;
  font-family: Ubuntu;
  flex-direction: column;
  font-family: Josefin Sans;
  margin-bottom: 20px;
  margin-top: 170px;
}

.title {
  font-size: 2.7rem;
  margin-bottom: 40px;
}

.experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
